@use "./vars.scss";
@use "./logo.scss";
@use "./navigation.scss";

.full-width-container {
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: vars.$clr-text;
  }
}

.header {
  height: 90px;
  padding-block: 20px;
}
