@use "./vars.scss";

.logo {
  height: 100%;

  &__text {
    color: vars.$primary-clr;
    font-weight: vars.$fw-extrabold;
    font-size: 1.4rem;

    &--IS {
      font-size: 1.5rem;
      position: relative;
      padding-left: 5px;
    }
  }
}

/* Точка в логотипе */
.point-wrapper {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
}
.point {
  position: absolute;
  left: 4px;
  background-color: vars.$accent-clr;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

/* Анимация логотипа */
.logo:hover .point-wrapper,
.logo:focus .point-wrapper {
  animation: circle 1.5s;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
