@use "./vars.scss";

// навигация
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 12px;
  padding-left: 12px;
}
.nav-link {
  color: vars.$primary-clr;
  font-weight: vars.$fw-bold;
  font-size: 1.4rem;

  &:hover,
  :focus {
    color: vars.$accent-clr;
  }
}

// кнопка мобильного меню
.navbar-toggler {
  border: none;

  &:focus,
  :hover {
    box-shadow: none;
    opacity: 0.5;
  }

  &-icon {
    background-image: url(../assets/icons/burger-menu.svg);
  }
}

// кнопка - закрыть мобильное меню
.btn-close {
  opacity: 1;

  &:hover,
  :focus {
    opacity: 0.5;
    outline: none;
    box-shadow: none;
  }
}

// Активная вкладка в навигации
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: vars.$accent-clr;
}

// разделительные линии в мобильном меню
@media screen and (max-width: 991px) {
  .nav-item {
    border-bottom: 1px solid vars.$clr-text;
  }
}
