@use "./vars.scss";

.skills {
  width: 100%;
  padding: 20px;
  align-items: center;
  white-space: nowrap;
  margin-top: 1rem;

  &__title {
    font-weight: vars.$fw-bold;
    margin-bottom: 0.8rem;
  }

  &__item {
    width: 75px;

    img {
      max-width: 50px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1100px) {
  .skills {
    padding-inline: 0;

    overflow-x: hidden;
    align-items: flex-start;
    &__title {
      align-self: center;
    }
  }
}
