@use "./vars.scss";
@use "./header.scss";
@use "./about.scss";
@use "./projects.scss";
@use "./contacts.scss";

html,
body {
  background-color: vars.$clr-main-bg;
  font-family: vars.$ff-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

// .bg-warning {
//   background-color: vars.$accent-clr !important;
// }

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1580px;
  }
}
