@use "./vars.scss";
@use "./header.scss";
@use "./about.scss";
@use "./projects.scss";
@use "./contacts.scss";

/* ScrollBar */
/* html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track {
  background: vars.$clr-text;
}
html::-webkit-scrollbar-thumb {
  background: vars.$accent-clr;
  border-radius: 8px;
  width: 0.5rem;
} */

body {
  font-size: 17px;
  font-family: vars.$ff-primary;
  font-weight: 400;
  line-height: 1.65;
}

a {
  text-decoration: none;
}
img {
}

.subtitle {
}

.title {
}

.text {
}
/* a:visited {
  color: vars.text-clr;
}
a:hover,
a:focus {
  color: chartreuse;
} */

/* .container {
  width: 1080px;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 990px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1080px;
  }
} */
