@use "./vars.scss";
@use "./header.scss";
@use "./about.scss";
@use "./projects.scss";
@use "./contacts.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: vars.$clr-main-bg;
  font-family: vars.$ff-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.btn {
  padding: 8px 30px;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1580px;
  }
}
